Thumbs.db
*.user
*.pro.user
*.obj
*.o
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
moc_*
[Bb]in
bin/
[Dd]ebug*/
obj/
deploy/
[Rr]elease*/
_ReSharper*/
*.Makefile
Makefile.Release
Makefile.Debug
Makefile
*.Release
*.Debug
*.autosave
*.rc
*.stash
*.orig
*.tmp
